<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CHANGE ME">
        <meta name="keywords" content="CHANGE ME">
        <meta name="author" content="CHANGE ME">
        <!-- Load jquery, bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
        <style>
            #keyword {
                width: 40%;
            }
            #date-time {
                width: 40%;
            }
            div.form-group {
                width: 40%;
            }
            #segment {
                margin-top: 5%
            }
            #custom-div {
                border: 2px solid red;
                border-radius: 5px;
            }   
            #navbar-brand {
                color: white;
            }
            #tweets {
                align-content: center;
                padding-left: 10%;
                padding-right: 10%;
            }
        </style>
        <!-- Custom CSS End -->
    </head>
    <body>

        <!-- Header -->
        
        <nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #38A1F3;">
            <a class="navbar-brand" href="#">GeoTweet</a>
        </nav>

        <div id = "segment">
        </div>

        <div align="center">
            <form id="creds">
                <div class="form-group" align="center">
                    <label for="usefrm">Username</label>
                    <input  class="form-control" id="usefrm" aria-describedby="emailHelp" placeholder="Enter Username">
                </div>
                <div class="form-group" align="center">
                    <label for="passfrm">Password</label>
                    <input type="password" class="form-control" id="passfrm" placeholder="Password">
                </div>
                     
                <button type="button" class="btn btn-outline-success" id ="login-form">Login</button>
                <button type="button" class="btn btn-outline-success" id ="add-user-form">Add User</button>
            </form>
            <div id="user-tweets-section"></div>
            <div id="segment"></div>
            
            <form>
                <div class="form-group" align = "center">
                    <label for="sch-country">Location</label>
                    <select class="form-control" id="sch-country">
                        <option value="23424775">Canada</option>
                        <option value="23424977">United States</option>
                        <option value="23424975">United Kingdom</option>
                        <option value="23424819">France</option>       
                    </select>
                </div> 
                <button align="right" type="button" class="btn btn-outline-success" id="submit-form">Submit</button>
            </form>
        </div>
    

        <div id = "segment"></div>

        <div id="tweets">
            <table class="table" id="tweet-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">tweet</th>
                        <th scope="col">Select To Save</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="button-box">
                
            </div>
            
            <!-- <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">Did you know you can share a Tweet privately via Direct Message? Learn more! 
                    <a href="https://t.co/X0b8ip53tX">https://t.co/X0b8ip53tX</a>
                </p>&mdash; Twitter Support (@TwitterSupport) 
                <a href="https://twitter.com/TwitterSupport/status/806207281410883584?ref_src=twsrc%5Etfw">December 6, 2016</a>
            </blockquote>
            
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>     -->

        </div>

        <div id = "segment"></div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Tweets</th>
                          </tr>
                        </thead>
                        <tbody id="user-tweets-table">
                          <tr>
                            <th scope="row">1</th>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        
        <script src="index.js"></script>

    </body>
</html>
