
#exampleFormControlSelect1 {

    width: 40%;
    
}

#exampleFormControlInput1 {

    width: 40%;
}



#segment {

    margin-top: 5%
}

#custom-div {
    border: 2px solid red;
    border-radius: 5px;
}   

#navbar-brand {

    color: white;
}